<ion-header>
  <ion-navbar>
    <ion-title>Presentación</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
    <h2 text-center>Miguel Abad Espinoza</h2>
    <img  src="https://media.licdn.com/dms/image/C4E03AQEw0SgQqCopsA/profile-displayphoto-shrink_200_200/0?e=1544659200&v=beta&t=Kw--VmxIs2nH0rDJ1U9xcdcEuXiqfx7JatRUIZL6cWA" alt="">

  <button ion-button full (click)="tomarFoto()">
    <ion-icon name="camera">
    </ion-icon> &nbsp;
    Grabar el momento
  </button>


  <ion-row col-6 *ngFor="let foto of fotos">
    <img [src]="foto" *ngIf="foto" alt="" />
  </ion-row>
  

  <img src="assets/imgs/450_1000.jpg" alt="">
  <p>
    Profesor de computación e informatica y programador encargado de desarrollar competncias y capacidades que aseguren tu exito profesional.
  </p>
</ion-content>